@model project1.Models.album

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>album</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.names)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.names)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.yearReleased)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yearReleased)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.producer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.producer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recodLabel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recodLabel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.band)
        </dt>

        <dd>
            @Html.ActionLink(Model.band.Name, "../bands/details", new { id = Model.band.ID })
        </dd>

    </dl>
</div>
<div>
<h3>
    Songs and Albums

</h3>
    <dl class="dl-horizontal">
        @foreach (project1.Models.song song in Model.songs) {

        <dt>
            @song.ID
           
        </dt>
        <dd>
            @Html.ActionLink(song.Name,"../songs/details",new {id = song.ID} )

        </dd>
        }
    </dl>



</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
